.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 5px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #bbb;
    color: black;
}

.card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

#displayContainer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#playerButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-bottom: 20px;
}