
img {
    max-width: 80px; /* Réduisez la taille de l'image à 50% de la largeur de son conteneur */
    height: auto;
}

.navbar {
    background-color: #1a2a6c;
    overflow: hidden;
    width: 100%; 
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;

    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}