.board {
    background-color: beige;
}

.cell {
    border: 1px solid;
    font-size: 5rem;
    height: 150px;
    text-align: center;
    width: 150px;
    background-color: beige;
}

.cell:hover {
    cursor: pointer;
    background-color: beige;
}

.cell:active {
    background-color: beige;
}

.win-cell {
    background-color: greenyellow !important;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: black;
    color: black;
    border-radius: 20px;
}

.flip-card-back {
    background-color: beige;
    color: black;
    transform: rotateY(180deg);
    border-radius: 20px;
}

.form-label{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.game-card{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 20px;
}

.btn-primary{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: beige;
    color: black;
    border-color: beige;
    border-radius: 10px;
    margin-left: 200px;
}

.btn-primary:hover{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: beige;
    color: black;
    border-color: beige;
    border-radius: 10px;
}

.card-header{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: beige;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.btn{
 background-color: beige;
 border: beige;
 color:black;
}

.btn:hover{
    background-color: beige;
    border: beige;
    color:black;
}
#player-list {
    position: absolute;
    top: 10;
    left: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
}

h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
}