<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jersey+10+Charted&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Paytone+One&family=Rubik+Glitch+Pop&family=Sixtyfour&display=swap" rel="stylesheet">
  <title>Undercover</title>
  <style>
    nav {
      border-bottom: 1px solid black;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <nav>
    <div class="logo">
      <img class="logocarrebleu" src="/image/undercoverlogo.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a class="titre" href="#">Accueil</a></li>
        <li class="dropdown">
          <a  class="titre" href="#">Le jeux Undercover</a>
          <ul class="dropdown-menu">
              <li><a class="titre" href="http://localhost:8080/regle">Undercover le jeux</a></li>
              <li><a class="titre" href="http://localhost:8080/perso">Les Rôles Spéciaux</a></li>
            </ul>
          </li>
      <li><a class="titre" href="http://localhost:8080/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="photo-container">
    <img class="logocarrebleu" src="/image/UNdercover.png" alt="Your Image">
    <div class="text-overlay">
      <h1><strong>Bienvenue sur Undercover</strong><br><br><br>

        Sur une île tropicale, tout le monde se réveille un jour en ayant oublié son identité. <br>
        
        Ils doivent alors jouer à un jeu où des mots secrets sont les indices qui leur permettront de retrouver leur identité et de se défaire de leurs ennemis.</h1>
    </div>
  </div>
    <div class="text-overlay2">
      <h1>Comment jouer ?
        Au début de la partie, chacun reçoit un mot secret. Les joueurs doivent ensuite révéler petit à petit des informations sur leur mot pour deviner qui a le même mot qu’eux ! <br>
        <br>
        Après quelques tours d’élimination, réussiront-ils à découvrir leur identité et à se défaire de leurs ennemis ? Allez dans la section règles pour en savoir plus!</h1>
    </div>
  </div>
  <button onclick="window.location.href='/games/tic-tac-toe'">Jouer</button>
</body>
</html>