<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jeux.css">
    <title>UNDERCOVER</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">

                <div class="alert d-none" role="alert" id="turn-message"></div>

                <div class="card mb-3" id="user-card">
                    <div class="card-body">

                        <form method="POST" id="form">
                            <div class="mb-3">

                                <label for="username" class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username" minlength="2" maxlength="20"
                                    placeholder="Saisir votre nom d'utilisateur" required>
                            </div>
                            <button class="btn btn-primary" id="start" type="submit">Créer un salon privée</button>
                        </form>

                    </div>
                </div>

                <div class="card mb-3 d-none" id="rooms-card">
                    <div class="card-header">Salons disponibles</div>
                    <ul class="list-group list-group-flush" id="rooms-list"></ul>
                </div>

                <div class="d-none" id="waiting-area">
                    <div class="card mb-3">
                        <div class="card-header">En attente d'un autre joueur</div>
                        <div class="card-body mx-auto">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body text-center">
                            Partage ce lien pour inviter quelqu'un à jouer avec toi
                            <span id="link-to-share"></span>
                        </div>
                    </div>
                </div>
                <div class="card " id="game-card">
                    <div class="card-header">
                        Undercover
                    </div>
                    <div class="card-body mx-auto">
                        <table class="board">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <h2><br><br>UNDERCOVER</h2>
                                    </div>
                                    <div class="flip-card-back">
                                        <div id="player-roles">
                                        </div>                               
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
                    <div class="text-center d-none mt-2" id="restart-area">
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>


