<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jersey+10+Charted&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Paytone+One&family=Rubik+Glitch+Pop&family=Sixtyfour&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/perso.css">
    <title>Présentation des différents personnages</title>
</head>
<body>
    <h1>Voici les Rôles du jeux</h1>  
    <img src="/image/perso.png" class="img" >
</body>
</html>